<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <title>@ViewBag.Title - ShotgunAdapters.com</title>
    @Styles.Render("~/Content/css")

    <!-- Favicon links-->


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--
                @Html.ActionLink("ShotgunAdapters.com", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })                    
                -->
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="/Home/Products" class="dropdown-toggle" data-toggle="dropdown">
                            Products <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var gunCaliber in ViewBag.GunCalibers)
                            {
                                <li><a href="/Home/Products/@gunCaliber.Id">@gunCaliber.Name</a></li>
                            }
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Reviews", "Reviews", "Home")</li>
                    <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                    <li>
                        <a href="/shoppingcart"><span class="glyphicon glyphicon-shopping-cart"></span>Shopping Cart</a>
                    </li>
                </ul>
                <!--
                @Html.Partial("_LoginPartial")    
                -->
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        <main>
            @RenderBody()
            <hr />
        </main>
        <footer>
            <span>&copy; @DateTime.Now.Year - ShotgunAdapters.com</span>
            <span class="pull-right">Website created by <a href="http://www.christopherstieg.com">Christopher Stieg</a></span>
        </footer>
    </div>

    <div id="anti-forgery-token" class="hidden">@Html.AntiForgeryToken()</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
