<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="" />
    <meta name="description" content="" />

    <title>@ViewBag.Title - ShotgunAdapters.com</title>
    @Styles.Render("~/Content/css")

    <!-- Favicon links-->
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/Content/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/Content/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/">
                    <img id="site-logo" src="~/Content/images/ShotgunAdaptersLogo.png" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="/Products">
                            Products
                        </a>
                        <a>
                            <b class="caret"></b>
                        </a>
                        
                        <ul class="dropdown-menu">
                            @foreach (var gunCaliber in ViewBag.GunCalibers)
                            {
                                <li class="dropdown">
                                    <a href="/@gunCaliber.Name">@gunCaliber.Name</a>
                                    <ul class="dropdown-menu dropdown-products">
                                        @foreach(var product in gunCaliber.ProductsAmmunition)
                                        {
                                            <li>
                                                <a href="/Product/@product.Id">@product.Name</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            <li>@Html.ActionLink("All Products", "Products", "Home")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Reviews", "Reviews", "Home")</li>
                    <li>@Html.ActionLink("FAQ", "FAQ", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        <a href="/shoppingcart">
                            <span class="glyphicon glyphicon-shopping-cart"></span>Cart
                            <span class="badge" id="shoppingCartCount"></span>
                        </a>
                    </li>
                </ul>
                <!--
                @Html.Partial("_LoginPartial")    
                -->
                
            </div>
        </div>
    </div>
    <div class="container body-content">
        <main>
            @RenderBody()
            <hr />
        </main>
        <footer>
            <span>&copy; @DateTime.Now.Year - ShotgunAdapters.com</span>
            <span class="pull-right">Website created by <a href="http://www.christopherstieg.com">Christopher Stieg</a></span>
        </footer>
    </div>

    <div id="anti-forgery-token" class="hidden">@Html.AntiForgeryToken()</div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
